.form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttons-view {
    margin: 5px;
}

#add-gif-topic {
    margin-top: 5px;
}

.gif {
    margin: 5px;
}

.card {
    margin: 5px;
}

.form-control-lg {
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.btn-lg {
    width: 300px;
}

#gifs-view {
    padding-left: 25px;
}