.form {
    margin-top: 175px;
    margin-bottom: 10px;
}

#buttons-view {
    margin: 5px;
}

#add-gif-topic {
    margin-top: 5px;
}

.btn {
    margin: 5px;
}

.card {
    margin: 5px;
    border: none;
}

.form-control-lg {
    border-radius: 5px;
    width: 300px;
    text-align: center;
    border: none;
}

.btn-lg {
    width: 300px;
}

#gifs-view {
    padding-left: 25px;
}

.rating {
    padding-top: 5px;
    font-weight: 300;
}